
body{
    background-image: url("osho2.jpg");
    background-size: 0vmax;
    background-position: center;
    border-width:10px;
    border-color: chartreuse;
    border-style: groove;
    }
@media (max-width:768px){
    header,main,footer{
    padding: 10px;
    }}
header{
    padding: 20px 20px;
    background-color: black;
}   
#H{
    color: blue;
    text-align: center;
    text-decoration: solid;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
} 
main{
    padding: 30px 60px;
    background-color: cornsilk;
    
}
#img1{
    border-width: 1opx;
    border-color: brown;
    border-style: groove;

}
#right{
    float: right;
    border-width: 1opx;
    border-color: brown;
    border-style: groove;
}
#para{
    color: blue;
    text-align: center;
}
     

.O{
    position: absolute;
    top: 25vw;
    left: 34vw;
    color:red;
    font-size: x-large;
    font-weight: bolder;

    
}
.os{
    position: absolute;
    top: 27vw;
    left:35vw;
    font-size: small;
    font-weight: bolder;

}
a{
    color: maroon;
}
footer{
    padding: 20px;
    background-color: brown;
    text-align: center;

}